<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'homeapp_home.css' %}">
        <script type="text/javascript" src="{% static 'homeapp_home.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <br><hr><br>
        <button type="button" name="button_testButton" id="button_testButton" onclick="fun_button_testButton()">TEST</button>
        <br><br><hr>
    </body>
</html>