h1 {
    position: relative;
    margin-left: 2%;
    font-family: monospace, monospace;
}

body {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    font-family: monospace, monospace;
    font-size: 20px;
}

#div_signup {
    position: relative;
    margin-left: 15%;
}

#text_firstName {
    position: relative;
    margin-left: 10%;
    font-family: monospace, monospace;
    font-size: 18px;
    width: 30%;
}

#text_lastName {
    position: relative;
    margin-left: 10.7%;
    font-family: monospace, monospace;
    font-size: 18px;
    width: 30%;
}

#radio_genderMale {
    position: relative;
    margin-left: 13%;
}

#radio_genderFemale {
    position: relative;
    margin-left: 9%;
}

#radio_genderTransgender {
    position: relative;
    margin-left: 18.6%;
}

#radio_genderNoResponse {
    position: relative;
    margin-left: 4.1%;
}

#date_dob {
    position: relative;
    margin-left: 8%;
    font-family: monospace, monospace;
    font-size: 18px;
    width: 30%;
}

#text_emailID {
    position: relative;
    margin-left: 11.5%;
    font-family: monospace, monospace;
    font-size: 18px;
    width: 30%;
}

#text_contactNo {
    position: relative;
    margin-left: 7.2%;
    font-family: monospace, monospace;
    font-size: 18px;
    width: 30%;
}

#password_pwd {
    position: relative;
    margin-left: 11.35%;
    font-size: 18px;
    width: 30%;
}

#password_retypePwd {
    position: relative;
    margin-left: 5.75%;
    font-size: 18px;
    width: 30%;
}

#button_signup {
    position: relative;
    margin-left: 35%;
    font-family: monospace, monospace;
    font-size: 24px;
}