<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'signup.css' %}">
        <script type="text/javascript" src="{% static 'signup.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <br>
        <div id="div_signup">
            First Name: <input type="text" name="text_firstName" id="text_firstName" placeholder="First Name">
            <br><br>
            Last Name: <input type="text" name="text_lastName" id="text_lastName" placeholder="Last Name">
            <br><br>
            Gender:
                <input type="radio" name="radio_gender" id="radio_genderMale" value="male"> Male
                <input type="radio" name="radio_gender" id="radio_genderFemale" value="female"> Female
                <br>
                <input type="radio" name="radio_gender" id="radio_genderTransgender" value="transgender"> Transgender
                <input type="radio" name="radio_gender" id="radio_genderNoResponse" value="no_response"> Prefer not to respond
            <br><br>
            Date of Birth: <input type="date" name="date_dob" id="date_dob">
            <br><br>
            Email ID: <input type="text" name="text_emailID" id="text_emailID" placeholder="Email ID">
            <br><br>
            Contact Number: <input type="text" name="text_contactNo" id="text_contactNo" placeholder="Contact No.">
            <br><br>
            Password: <input type="password" name="password_pwd" id="password_pwd">
            <br><br>
            Re-type Password: <input type="password" name="password_retypePwd" id="password_retypePwd">
            <br><br><br>
            <button type="button" name="button_signup" id="button_signup" onclick="fun_signup()">Sign Up</button>
        </div>
    </body>
</html>